<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.1.xsd">

  <!--  the root application context used by the test war -->

   <!--  imports the standard application XMLs  -->
    <import resource="classpath:stock-application-datasource-jndi.xml"/>
    <import resource="classpath:stock-application-repository.xml"/>
    <import resource="classpath:stock-application-service.xml"/>

   <!--  adds the integration DB2 datasource -->
      <!-- Settings for external data source, DriverManagerDataSource is used only for test purpose in real situation use pooling datasource like DBCP
    <bean id="dataSourceInt" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.ibm.db2.jcc.DB2Driver"/>
        <property name="url" value="jdbc:db2://olddb:50000/test"/>
        <property name="username" value="db2inst1"/>
        <property name="password" value="password"/>
    </bean>-->

    <bean name="unifiedTestWatcher" class="com.acme.spring.hibernate.UnifiedTestWatcher">
      <property name="excludedColumns">
        <array>
          <value>date</value>
        </array>
      </property>
    </bean>

      <!-- define the service recorder advice -->
    <bean id="serviceRecorder" class="com.acme.spring.hibernate.ServiceRecorder">
      <constructor-arg name="order"><value>1</value></constructor-arg>
      <constructor-arg name="rootFolder"><value>/tmp</value></constructor-arg>
    </bean>

    <bean id="servicePlayer" class="com.acme.spring.hibernate.ServicePlayer"/>

    <!--  apply the advice to the service method of the application -->
    <aop:config>
      <aop:pointcut id="allServiceMethods" expression="execution(* com.acme.spring.hibernate.service.impl.DefaultStockService.*(..))"/>
      <aop:advisor pointcut-ref="allServiceMethods"  advice-ref="serviceRecorder" order="1"/>
    </aop:config>

</beans>
